:root{
    --bg: #FDF9F9;
    --text: #140707;
    --primary: #EB1615;
    --secondary: #EC7979;
    --accent: #F05757;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    background-color: transparent;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body{
    background-color: var(--bg);
}