:root{
    --bg: #FDF9F9;
    --text: #140707;
    --primary: #EB1615;
    --secondary: #EC7979;
    --accent: #F05757;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: var(--regular);
    overflow: hidden;
}

body{
    background-color: var(--bg);
}

h1{
    font-weight: var(--medium);
    text-align: center;
    font-size: 28px;
}

#kort{
    width: 282px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    margin-left: 46.5px;
    margin-top: 22px;
    border-radius: 30px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}

input{
    background-color: var(--bg);
    border-radius: 15px;
    font-size: 20px;
    font-weight: var(--regular);
    color: #707070;
    margin-left: 65px;
    width: 245.02px;
    height: 45px;
    border: none;
    padding-left: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}

#blaff-btn{
    width: 242px;
    height: 54.45px;
    background-color: var(--primary);
    border-radius: 23px;
    border: none;
    font-weight: var(--bold);
    font-size: 21px;
    color: var(--bg);
    position: absolute;
    left: 66.5px;
    bottom: 25px;
}

#blaff-btn:disabled{
    background-color: var(--secondary);
}

/*#region Log ind*/
#login-box{
    width: 262px;
    height: 336px;
    margin-top: 109px;
    margin-left: 56.5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    border-radius: 10px;
    padding: 0;
    padding-top: 21px;
}

#login-box h1{
    font-weight: var(--bold);
    font-size: 25px;
    margin-top: 0;
    margin-left: 31px;
    text-align: left;
}

#login-box input{
    width: 200px;
    height: 45px;
    margin-left: 31px;
    margin-top: 20px;
}

#login-box p{
    font-weight: var(--bold);
    color: var(--primary);
}

#vis {
    font-size: 13px;
    position: relative;
    top: -30px;
    left: 210px;
}

#login-box button{
    width: 200px;
    height: 45px;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 23px;
    border: none;
    font-size: 18px;
    font-weight: var(--bold);
    text-align: center;
    margin-top: 28px;
    margin-left: 31px;
}
/*#endregion*/

#opret-box{
    width: 262px;
    height: 413px;
    margin-top: 109px;
    margin-left: 56.5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    border-radius: 10px;
    padding: 0;
    padding-top: 21px;
}

#opret-box h1{
    font-weight: var(--bold);
    font-size: 25px;
    margin-top: 0;
    margin-left: 31px;
    text-align: left;
}

#opret-box input{
    width: 200px;
    height: 45px;
    margin-left: 31px;
    margin-top: 20px;
}

#same_box{
    display: inline;
    white-space: nowrap;
}

#opret-box #enavn{
    width: 120px;
}

#opret-box #alder{
    width: 72px;
    margin-left: 3.9px;
}

#opret-box p{
    font-weight: var(--bold);
    color: var(--primary);
}

#vis {
    font-size: 13px;
    position: relative;
    top: -30px;
    left: 210px;
}

#opret-box button{
    width: 200px;
    height: 45px;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 23px;
    border: none;
    font-size: 18px;
    font-weight: var(--bold);
    text-align: center;
    margin-top: 28px;
    margin-left: 31px;
}

.driver{
    width: 282px;
    height: 88px;
    border-radius: 30px;
    background-color: white;
    padding-top: 18px;
    margin-left: 47px;
    margin-bottom: 25px;
}

.driver .pfp{
    width: 70px;
    aspect-ratio: 1;
    border-radius: 35px;
    background-color: var(--secondary);
    margin-left: 15px;
}

.driver .name{
    font-size: 20px;
    font-weight: var(--regular);
    text-align: left;
    position: relative;
    top: -70px;
    margin-left: 99.5px;
    z-index: 1;
}

.driver .afstand{
    font-size: 20px;
    font-weight: var(--regular);
    color: #707070;
    text-align: left;
    position: relative;
    top: -65px;
    margin-left: 99.5px;
}

.driver button{
    width: 82px;
    height: 35px;
    border-radius: 18px;
    background-color: var(--primary);
    color: var(--bg);
    font-size: 20px;
    font-weight: var(--regular);
    border: none;
    position: relative;
    top: -100px;
    margin-left: 180px;
}

#stop{
    position: absolute;
    bottom: 26px; 
    left: 65.5px; 
    width: 242px;
    height: 54.45px;
    background-color: var(--primary);
    color: var(--bg);
    border-radius: 23px;
    font-size: 21px;
    font-weight: var(--bold);
    border: none;
    z-index: 2;
}

#q{
    height: 722px;
    overflow: scroll;
}

#profile #display{
    width: 282px;
    height: 664px;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 50px;
}

#profile #img{
    width: 244px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    margin-top: 20px;
    margin-left: 19px;
    border-radius: 122px;
}

#profile #afstand{
    font-size: 20px;
    color: #707070;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 310px;
}

#profile #name{
    font-size: 20px;
    font-weight: var(--medium);
    margin-top: 15px;
    text-align: center;
}

#profile #age{
    font-size: 20px;
    font-weight: var(--regular);
    text-align: center;
}

#profile #rating, #profile #about{
    font-size: 20px;
    font-weight: var(--regular);
    margin-left: 32px;
    margin-top: 20.5px;
}

.a{
    width: 163.53px;
    height: 54.45px;
    border-radius: 23px;
    font-size: 21px;
    font-weight: var(--bold);
    color: var(--bg);
    border: none;
    position: absolute;
    bottom: 26px;
    z-index: 40;
}

#tb{
    background-color: var(--secondary);
    left: 14.3px;
}

#vælg{
    background-color: var(--primary);
    right: 14.3px;
}