:root{
    --bg: #FDF9F9;
    --text: #140707;
    --primary: #EB1615;
    --secondary: #EC7979;
    --accent: #F05757;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    background-color: transparent;
    color: var(--text);
    font-family: "Poppins", sans-serif;
    font-weight: var(--regular);
}

body{
    background-color: var(--bg);
}

h1{
    font-weight: var(--medium);
    text-align: center;
    font-size: 28px;
}

#kort{
    width: 282px;
    aspect-ratio: 1;
    background-color: var(--secondary);
    margin-left: 46.5px;
    margin-top: 22px;
    border-radius: 30px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}

input{
    background-color: var(--bg);
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
    font-weight: var(--regular);
    color: #707070;
    margin-left: 64.25px;
    width: 245.02px;
    border: none;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}

#blaff-btn{
    width: 242px;
    height: 54.45px;
    background-color: var(--primary);
    border-radius: 23px;
    border: none;
    font-weight: var(--bold);
    font-size: 21px;
    color: var(--bg);
    margin-left: 66.5px;
    margin-top: 194.5px
}

#blaff-btn:disabled{
    background-color: var(--secondary);
}